<?php

return [

    // PDO Instance
    'pdo' => new PDO(
        'mysql:host=127.0.0.1;port=3306;dbname=my_db',
        'myuser',
        'supersecretpassword'
    ),

    // Output directory for generated models
    'output_dir' => 'generated',

    // The namespace for generated models
    'namespace' => 'App\\Generated',

];
