html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  text-align: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

nav ul {
  list-style: none; }

button {
  font-family: inherit; }

a img,
:link img,
:visited img {
  border: 0; }

a:active,
a:focus,
input:active {
  outline: 0; }

a:active,
a:focus,
input:focus {
  -moz-outline-style: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

blockquote, q {
  quotes: none; }

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

.clearing {
  clear: both; }

.clearafter:after,
.cf:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden; }

#ie6,
#ie7,
#ie8,
#ie9 {
  height: 100%; }
  #ie6 .cf,
  #ie6 .clearafter,
  #ie7 .cf,
  #ie7 .clearafter,
  #ie8 .cf,
  #ie8 .clearafter,
  #ie9 .cf,
  #ie9 .clearafter {
    zoom: 1; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background: white;
  color: #24292e;
  font-family: -apple-system, system-ui, "Verdana", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  min-height: 100%;
  overflow-y: scroll;
  font-size: 16px;
  font-size: 1rem; }
  @media screen and (max-width: 999px) {
    html {
      font-size: 14px;
      font-size: 0.875rem; } }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  margin-bottom: 0.5rem; }

h1 {
  font-size: 22px;
  font-size: 1.375rem; }

h2 {
  font-size: 20px;
  font-size: 1.25rem; }

h3 {
  font-size: 18px;
  font-size: 1.125rem; }

h4, h5 {
  font-size: 16px;
  font-size: 1rem; }

p {
  margin-bottom: 0.5rem; }

label {
  font-weight: 600; }

.o-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0; }
  @media screen and (max-width: 999px) {
    .o-wrapper {
      padding: 1rem; } }
  .o-wrapper__inner {
    padding: 1rem 0; }

.c-navbar {
  padding: 0 1rem;
  color: #24292e;
  background-color: transparent;
  border-bottom: 1px solid #c8c8c8; }
  .c-navbar__brand {
    display: inline-block;
    color: #24292e;
    font-weight: 700;
    font-size: 1rem;
    whitespace: nowrap;
    margin-right: 1rem; }
  .c-navbar__menu {
    display: inline-block; }
  .c-navbar__menuitem {
    display: inline-block;
    padding: 1rem 0.5rem;
    margin-bottom: 0;
    color: #646464; }
    .c-navbar__menuitem:hover {
      text-decoration: none;
      margin-bottom: -1px;
      border-bottom: 2px solid #c8c8c8; }
    .c-navbar__menuitem--selected {
      font-weight: 700;
      margin-bottom: -1px;
      border-bottom: 2px solid #f49542;
      color: inherit; }
      .c-navbar__menuitem--selected:hover {
        border-bottom: 2px solid #f49542; }

.c-form-control, .c-form-select {
  min-height: 34px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
          box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075); }

.c-form-select {
  display: inline-block;
  max-width: 100%;
  height: 34px;
  padding-right: 24px;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC") no-repeat right 8px center;
  -webkit-background-size: 8px 10px;
          background-size: 8px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.c-input-block {
  display: block;
  width: 100%; }

.c-form-actions:before {
  content: "";
  display: table; }

.c-form-actions:after {
  content: "";
  clear: both;
  display: table; }

.c-form-actions .c-button {
  float: right; }

.c-form-actions .c-button + .c-button {
  margin-right: 3px; }

.c-form-group {
  margin: 1rem 0; }
  .c-form-group dt {
    margin-bottom: 6px; }
  .c-form-group .c-form-control {
    max-width: 100%;
    width: 440px; }

/* ==========================================================================
   #BUTTONS
   ========================================================================== */
/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */
.c-button,
input.c-button,
button.c-button {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  font: inherit;
  /* [3] */
  font-weight: 700;
  text-align: center;
  /* [4] */
  margin: 0;
  /* [4] */
  cursor: pointer;
  /* [5] */
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #24292e;
  background-color: #eff3f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafbfc), color-stop(90%, #eff3f6));
  background-image: -webkit-linear-gradient(top, #fafbfc 0%, #eff3f6 90%);
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25rem; }
  .c-button:hover, .c-button:active, .c-button:focus,
  input.c-button:hover,
  input.c-button:active,
  input.c-button:focus,
  button.c-button:hover,
  button.c-button:active,
  button.c-button:focus {
    text-decoration: none;
    /* [4] */ }
  .c-button:hover, .c-button:focus,
  input.c-button:hover,
  input.c-button:focus,
  button.c-button:hover,
  button.c-button:focus {
    background-color: #e6ebf1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f3f6), color-stop(90%, #e6ebf1));
    background-image: -webkit-linear-gradient(top, #f0f3f6 0%, #e6ebf1 90%);
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%); }
  .c-button:focus,
  input.c-button:focus,
  button.c-button:focus {
    -webkit-box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3);
            box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3); }
  .c-button:active,
  input.c-button:active,
  button.c-button:active {
    -webkit-box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
            box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15); }

/* Style variants
   ========================================================================== */
.c-button--primary,
input.c-button--primary,
button.c-button--primary {
  color: #fff;
  background-color: #28a745;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34d058), color-stop(90%, #28a745));
  background-image: -webkit-linear-gradient(top, #34d058 0%, #28a745 90%);
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%); }
  .c-button--primary:hover, .c-button--primary:focus,
  input.c-button--primary:hover,
  input.c-button--primary:focus,
  button.c-button--primary:hover,
  button.c-button--primary:focus {
    background-color: #269f42;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2fcb53), color-stop(90%, #269f42));
    background-image: -webkit-linear-gradient(top, #2fcb53 0%, #269f42 90%);
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%); }
  .c-button--primary:focus,
  input.c-button--primary:focus,
  button.c-button--primary:focus {
    -webkit-box-shadow: 0 0 0 0.2em rgba(52, 208, 88, 0.4);
            box-shadow: 0 0 0 0.2em rgba(52, 208, 88, 0.4); }
  .c-button--primary:active,
  input.c-button--primary:active,
  button.c-button--primary:active {
    background-color: #279f43;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5);
    -webkit-box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
            box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15); }

.c-button--danger,
input.c-button--danger,
button.c-button--danger {
  color: #fff;
  background-color: #b5202c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e02836), color-stop(90%, #b5202c));
  background-image: -webkit-linear-gradient(top, #e02836 0%, #b5202c 90%);
  background-image: linear-gradient(-180deg, #e02836 0%, #b5202c 90%); }
  .c-button--danger:hover, .c-button--danger:focus,
  input.c-button--danger:hover,
  input.c-button--danger:focus,
  button.c-button--danger:hover,
  button.c-button--danger:focus {
    background-color: #cb2431;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#de4450), color-stop(90%, #cb2431));
    background-image: -webkit-linear-gradient(top, #de4450 0%, #cb2431 90%);
    background-image: linear-gradient(-180deg, #de4450 0%, #cb2431 90%);
    border-color: rgba(27, 31, 35, 0.5); }
  .c-button--danger:focus,
  input.c-button--danger:focus,
  button.c-button--danger:focus {
    -webkit-box-shadow: 0 0 0 0.2em rgba(27, 31, 35, 0.4);
            box-shadow: 0 0 0 0.2em rgba(27, 31, 35, 0.4); }
  .c-button--danger:active,
  input.c-button--danger:active,
  button.c-button--danger:active {
    background-color: #cb2431;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5); }

/* Size variants
   ========================================================================== */
.c-button--small {
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  font-size: 0.875rem; }

.c-button--large {
  padding: 0.75rem 1.5rem;
  font-size: 18px;
  font-size: 1.125rem; }

.c-button--full {
  width: 100%; }

.c-panel {
  display: block;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #c8c8c8;
  border-radius: 3px; }
  .c-panel--notice {
    background-color: #f5f5ff;
    border-color: #9696a0; }
  .c-panel--warning {
    background-color: #fff5f5;
    border-color: #c89696; }
  .c-panel--float {
    float: left; }
  .c-panel__content p:last-child {
    margin-bottom: 0; }
