<header>
    <nav class="c-navbar" role="navigation" aria-label="Primary">
        <h1 href="#" class="c-navbar__brand">chkr</h1>
        <div class="c-navbar__menu" role="menubar" aria-label="Primary">
            <a href="#" class="c-navbar__menuitem c-navbar__menuitem--selected" role="menuitem" taindex=0>List</a>
            <a href="#" class="c-navbar__menuitem" role="menuitem" taindex=1>Add</a>
        </div>
    </nav>
</header>
